@import '../../node_modules/@grafana/toolkit/sass/_variables.scss';


.live-data-panel {
    text-align: center;
    height: 100%;
    font-family: $font-family-sans-serif;
}

.live-data-panel label {
    position: relative;
}

.live-data-panel div {
    position: relative;
    top: calc(50% - #{$font-size-h1});
}

.live-data-panel button {
    padding: 6px 18px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

.live-data-panel input {
    border-width: 1px;
    border-style: solid;
    border-radius: $input-border-radius;
    text-align: center;
    padding: $input-padding;
    height: $input-height;
    font-size: $font-size-h3;
}

.live-data-value {
    top: calc(50% - #{$font-size-h1});
    font-size: 30.4px;
    font-weight: $font-weight-semi-bold;
}

.live-data-panel .mqtt-connection {
    right: 2%;
    bottom: 2%;
    position: absolute;
}

input.ng-invalid {
    border-style: groove;
    border-width: 1px;
    border-color: red;
}