@import '../../node_modules/@grafana/toolkit/sass/_variables.dark.scss';
@import 'base';

.mqtt-panel input {
  border-color: $input-border-color;
}

.mqtt-panel label {
  color: $gray-4;
}

.mqtt-panel button {
  color: $gray-4;
  background: $btn-inverse-bg;
  border-color: $dark-2;
}

.highcharts-label span {
  color: $gray-4;
}
