<div class="mqtt-panel">
    <div class="recieve-container" ng-if="ctrl.panel.mqtt.mode == 'Recieve'">
        <label ng-if="ctrl.panel.design.type == 'Text'" class="mqtt-value">{{ctrl.value}}</label><br>
        <div ng-if="ctrl.panel.design.type == 'Gauge'" ng-init="ctrl.createGauge()" id="container" class="mqtt-value-gauge"></div>
    </div>
    <div class="publish-container" ng-if="ctrl.panel.mqtt.mode == 'Publish'">
        <input type="text" ng-model="ctrl.panel.mqtt.publish.value" ng-keyup="$event.keyCode == 13 ? ctrl.onPublish() : null"></input>
        <br><br>
        <button ng-click="ctrl.onPublish()">Publish</button>
    </div><br>
    <label class="mqtt-connection" ng-if="ctrl.panel.mqtt.show">{{ctrl.mqttConnection.message}}</label>
</div>
